{% extends "rango/base.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero-unit">
             <h1>About Kadja</h1>
             This is <strong>Kadja's about page</strong>.<br />
             <p>We help connect students with jobs ,internships, and opportunities</p>
             You've visited the site on <strong>{{ visit_count }} occasion(s)</strong>.<br />
             <br />
 <!--            <img src="{% static 'nnnn.PNG' %}" alt="ICTU" />-->
</div>
{% endblock %}
